<!--#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 19 10:18:10 2020

@author: mj
"""
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Competition - NLP Project</title>
  </head>
  <body>
    {% extends "template.html" %}
    
    {% block content1 %}
        <img src="static/images/competitionS.png", alt="competitionS">
    {% endblock %}
    
    {% block content2 %}
        <img src="static/images/competitionES.png", alt="competitionES">
    {% endblock %}
    
    {% block content3 %}
        <img src="static/images/competitionFC.png", alt="competitionFC">
    {% endblock %}
  </body>
</html>