<!--#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 19 10:18:10 2020

@author: mj
"""
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Earnings - NLP Project</title>
  </head>
  <body>
    {% extends "template.html" %}
    
    {% block content1 %}
        <img src="static/images/earningsS.png", alt="earningsS">
    {% endblock %}
    
    {% block content2 %}
        <img src="static/images/earningsES.png", alt="earningsES">
    {% endblock %}
    
    {% block content3 %}
        <img src="static/images/earningsFC.png", alt="earningsFC">
    {% endblock %}
  </body>
</html>