<!--#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 19 10:18:10 2020

@author: mj
"""
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - NLP Project</title>
    <style>
      form {
        width: middle;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    {% extends "template.html" %}
    
    {% block content1 %}
        <div id="loading"></div>
        <div id="content">
            <form action="/upload" method="post" enctype="multipart/form-data">
                Choose the file: <input type="file" name="file"/> <Br>
				Transcript File Name: <input type="text" placeholder="Enter Transcript name" name = "name"/><BR>
                <input type="submit" value="Upload" onclick="loading();"/>
            </form> 
        </div>
    {% endblock %}
    
    {% block content2 %}
    {% endblock %}
    
    {% block content3 %} 
    {% endblock %}
  </body>
</html>
