<!--#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Mar 19 10:18:10 2020

@author: mj
"""
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
    img.resize {
      width:350px;
      height:300px;
    }
    </style>
    <title>Operational Risks - NLP Project</title>
  </head>
  <body>
    {% extends "template.html" %}
    
    {% block content1 %}
        <img class="resize" src="static/images/op_risksS.png", alt="op_risksS">
    {% endblock %}
    
    {% block content2 %}
        <img class="resize" src="static/images/op_risksES.png", alt="op_risksES">
    {% endblock %}
    
    {% block content3 %}
        <img class="resize" src="static/images/op_risksFC.png", alt="op_risksFC">
    {% endblock %}
  </body>
</html>